{% extends "CRMAccountBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block accountbody %}    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des clients</h3>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Site web</th>
                    <th>FAX</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.name }}</td>
                    <td>{{ account.adresse }}</td>
                    <td>{{ account.siteWeb }}</td>
                    <td>{{ account.fAX }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}