{% extends "CRMCustomerBundle::layout.html.twig" %}

{% block title %}Ajout - {{ parent() }}{% endblock %}

{% block accountbody %} 

<h3>Formulaire du client</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="row-fluid">
        <div class="form-group">
            {{ form_label(form.name, "Nom de la société", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.name) }}

            <div class="col-sm-3">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="form-group">
            {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.adresse) }}
            <div class="col-sm-3">
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
        
    <div class="row-fluid">
        <div class="form-group">
            {{ form_label(form.contact, "Contact", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.contact) }}
            <div class="col-sm-3">
                {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>  
    </div>
        
    <div class="row-fluid">
        <div class="form-group">
            {{ form_label(form.tVA, "T.V.A", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.tVA) }}
            <div class="col-sm-3">
                {{ form_widget(form.tVA, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div> 
    </div>
        
    <div class="row-fluid">
        <div class="form-group">
            {{ form_label(form.siteWeb, "Site Web", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.siteWeb) }}
            <div class="col-sm-3">
                {{ form_widget(form.siteWeb, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div> 
    </div>
        
    <div class="row-fluid">
        <div class="form-group">
            {{ form_label(form.phone, "Téléphone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.phone) }}
            <div class="col-sm-3">
                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>  
            
    <div class="row-fluid">
        <div class="form-group">
            {{ form_label(form.fAX, "Fax", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.fAX) }}
            <div class="col-sm-3">
                {{ form_widget(form.fAX, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div> 
    </div>
  
  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  <div class="row-fluid">
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary col-sm-offset-3'}}) }}
  </div>
  
  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
{% endblock %}